.artistDetailButton {
    border: 1px solid #eb6145 !important; 
    position: absolute;
    border-radius: 40px;
    color: #eb6145 !important;
    background-color: rgba(255, 255, 255, 0.7) !important;
}
.waveform {
    background: #D9F0F8;
    background-size: 100% 100%;
	position: absolute;
	display: block;
	width: 100%;
	height: 80px;
	z-index: 2;
}

.waveform-bg {
    background: #ccc;
    width: 100%;
    height: 80px;
    position: absolute;
}

.elapsed {
    background: #788b78;
    height: 80px;
    position: absolute;
    opacity: 0.5;
    z-index: 1;
}

.loading {
    
    background: #666;
    height: 80px;
    position: absolute;
    opacity: 0.2;
    z-index: 0;
}

.main-inner {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.2s !important;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s !important;
        
}
    

    
.orangeList .x-list-header {
    background: #D6D6D6;
    color: #EB6145;
    border-top: 0px;
    border-bottom: 0px;

}

.x-list .x-list-disclosure:before {

	content: "\e606" !important;
}

.mainmenu {
   
  background: #1d1d1d !important;

}
.main-background {
    background: #f7f7f7 !important;
}
.artist-info-button {
    background: rgba(255,255,255, 0.8) !important;
    border-radius: 0px;

}
.artist-info {
    font-weight: 100;
    font-size: 1.6em;
    text-shadow: 2px 2px #000;

}
body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
}
.saved-panel .x-panel-inner {
    background-color: transparent !important;
    background: rgba(0,0,0,0.5);
}

.icon-twitter, .icon-instagram, .icon-reorder, .icon-calendar-empty, .icon-cancel-circle, .icon-chevron-left, .icon-eye, .icon-play, .icon-pause {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-twitter:before {
	content: "\e000";
}
.icon-instagram:before {
	content: "\e001";
}
.icon-reorder:before {
	content: "\f0c9";
}
.icon-calendar-empty:before {
	content: "\f133";
}
.icon-cancel-circle:before {
	content: "\e004";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-eye:before {
	content: "\e007";
}
.icon-play:before {
	content: "\f04b";
}
.icon-pause:before {
	content: "\f04c";
}

/* Absolute Center CSS Spinner */
.button-loading {
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
    margin-left: 22px;
}

/* Transparent Overlay 
.button-loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
} */

/* :not(:required) hides these rules from IE9 and below */
.button-loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.button-loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  /* needs *magic number* to vertical center :( */
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  -webkit-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.5) -1.5em 0 0 0, rgba(255, 255, 255, 0.5) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
